In [3]:
import sklearn as sk
import numpy as np
import pandas as pd

In [5]:
b_data = pd.read_csv("b_features_2.csv")
b_data

,eta_row_id,log_id,bus_id,stop_id,sort_order,eta_seconds,pred_eta_s,actual_arrival_ts,actual_travel_s,eta_error_s,pax_load,hour,time_of_day_s,speed_prev_mps,speed_1min_mps
0,9297746,1377283,4851,10065,0,97,97,2025-11-24 14:02:07,138.0,41.0,0.0,13,50389,6.469397,4.435918
1,9297747,1377283,4851,10034,1,769,769,2025-11-24 14:08:16,507.0,-262.0,0.0,13,50389,6.469397,4.435918
2,9297748,1377283,4851,10041,2,856,856,2025-11-24 14:09:35,586.0,-270.0,0.0,13,50389,6.469397,4.435918
3,9297749,1377283,4851,10052,3,960,960,2025-11-24 14:11:58,729.0,-231.0,0.0,13,50389,6.469397,4.435918
4,9297963,1377321,4851,10065,0,85,85,2025-11-24 14:02:07,126.0,41.0,13.0,14,50401,1.549333,3.578405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423102,5430731,929710,20285,10052,0,2,2,2025-11-15 03:29:32,61.0,59.0,5.0,3,12511,0.032448,0.039112
423103,5430840,929725,20285,10052,0,2,2,2025-11-15 03:29:32,51.0,49.0,5.0,3,12521,0.028549,0.040013
423104,5430949,929740,20285,10052,0,2,2,2025-11-15 03:29:32,42.0,40.0,5.0,3,12530,0.038000,0.051211
423105,5431064,929755,20285,10052,5,1066,1066,2025-11-15 03:29:32,31.0,-1035.0,5.0,3,12541,0.118400,0.171236
423106,5431169,929770,20285,10052,0,2,2,2025-11-15 03:29:32,21.0,19.0,5.0,3,12551,0.740315,0.506559